.sidebar-footer {
  bottom: 2px;
  font-size: 80%;
  position: fixed;
  width: 100%;
}

.center {
  text-align: center;
}

.button {
  background: var(--accent-color-faded);
  border: solid 1px var(--accent-color-darkened) !important;
  border-radius: 5px;
  display: inline-block;
  font-size: larger;
  font-weight: bold;
  padding: .5ex 2em;
  text-align: center;

  text-decoration: none;

   &:hover {
    background: var(--accent-color);
  }
}