{%- assign redirect_target = page.redirect.to -%}
{%- assign site_url_prefix = site.url | append: '/' -%}
{%- assign target_prefix = redirect_target | slice: 0, site_url_prefix.size -%}
{%- if site.url != nil and site.url != '' and target_prefix == site_url_prefix -%}
  {%- assign redirect_target = redirect_target | remove_first: site.url -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ redirect_target | escape }}">
  <script>location.assign({{ redirect_target | jsonify }})</script>
  <meta http-equiv="refresh" content="0; url={{ redirect_target | escape }}">
  <meta name="robots" content="noindex">
  <h1>Redirecting&hellip;</h1>
  <a href="{{ redirect_target | escape }}">Click here if you are not redirected.</a>
</html>
